configure
aclocal.m4
compile
config.guess
config.sub
depcomp
install-sh
missing
lib/Makefile.in
src/config.in
autom4te.cache
makefile
TAGS
*~
.#* 
/README.W32
.gitattributes

/bin/
/site-lisp/
/leim/ja-dic/
etc/refcards/*.aux
etc/refcards/*.log
info/dir
info/*.info
test/biditest.txt

Makefile
config.log
config.status
config.cache
lib-src/blessmail
lib-src/ctags
lib-src/ebrowse
lib-src/emacsclient
lib-src/etags
lib-src/hexl
lib-src/make-docfile
lib-src/movemail
lib-src/profile
lib-src/test-distrib
lib-src/update-game-score
*.o
*.exe
*.res
lib/alloca.h
lib/arg-nonnull.h
lib/byteswap.h
lib/c++defs.h
lib/dirent.h
lib/errno.h
lib/execinfo.h
lib/fcntl.h
lib/getopt.h
lib/inttypes.h
lib/libgnu.a
lib/signal.h
lib/stdio.h
lib/stdlib.h
lib/string.h
lib/sys/
lib/time.h
lib/unistd.h
lib/warn-on-use.h
src/bootstrap-emacs
src/deps/
src/emacs
src/emacs-[0-9]*
src/gl-stamp
src/globals.h
src/stamp-h1
src/temacs
src/temacs.map
src/temacs.tmp
doc/emacs/emacsver.texi
doc/man/emacs.1
etc/refcards/emacsver.tex
lib/.deps/
lisp/international/uni-brackets.el
lwlib/deps/
lwlib/liblw.a
leim/changed.misc
leim/changed.tit
