# Attributes of Emacs files in the Git repository.

# Copyright 2015-2017 Free Software Foundation, Inc.

# This file is part of GNU Emacs.

# GNU Emacs is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# GNU Emacs is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with GNU Emacs.  If not, see <http://www.gnu.org/licenses/>.

# A few files use CRLF endings, even on non-Microsoft platforms.
# Do not warn about trailing whitespace with these files.
*.bat whitespace=cr-at-eol
admin/charsets/mapfiles/PTCP154 whitespace=cr-at-eol
leim/MISC-DIC/cangjie-table.b5 whitespace=cr-at-eol
leim/MISC-DIC/cangjie-table.cns whitespace=cr-at-eol
leim/MISC-DIC/pinyin.map whitespace=cr-at-eol
test/manual/etags/c-src/dostorture.c whitespace=cr-at-eol
test/manual/etags/cp-src/c.C whitespace=cr-at-eol
test/manual/etags/html-src/algrthms.html whitespace=cr-at-eol

# The todo-mode file format includes trailing whitespace.
*.tod[aorty] -whitespace=blank-at-eol

# The upstream maintainer does not want to remove trailing whitespace.
doc/misc/texinfo.tex -whitespace=blank-at-eol

# Some files should not be treated as text when diffing or merging.
*.cur binary
*.gpg binary
*.gz binary
*.icns binary
*.ico binary
*.pbm binary
*.pdf binary
*.pif binary
*.png binary
*.sig binary
*.tiff binary
etc/e/eterm-color binary

# Git's builtin diff hunk header styles.
*.ad[abs] diff=ada
*.[Cch] diff=cpp
*.cc diff=cpp
*.[ch]pp diff=cpp
*.hh diff=cpp
*.for diff=fortran
*.html diff=html
*.shtml diff=html
*.xml diff=html
*.java diff=java
*.[HMm] diff=objc
*.pas diff=pascal
*.perl diff=perl
*.pl diff=perl
*.php diff=php
*.py diff=python
*.rb diff=ruby
*.tex diff=tex

# Hooks for non-default diff hunk headers; see autogen.sh.
*.el diff=elisp
*.ac diff=m4
*.m4 diff=m4
*.mk diff=make
*[Mm]akefile diff=make
Makefile.in diff=make
*[-.]sh diff=shell
*.texi diff=texinfo
#
# Diff hunk header special-case file names.
admin/build-configs diff=perl
admin/charsets/mapconv diff=shell
admin/diff-tar-files diff=shell
admin/make-emacs diff=perl
admin/merge-gnulib diff=shell
admin/merge-pkg-config diff=shell
admin/quick-install-emacs diff=shell
admin/update-copyright diff=shell
admin/update_autogen diff=shell
build-aux/config.guess diff=shell
build-aux/config.sub diff=shell
build-aux/git-hooks/commit-msg diff=shell
build-aux/git-hooks/pre-commit diff=shell
build-aux/gitlog-to-emacslog diff=shell
build-aux/make-info-dir diff=shell
build-aux/move-if-change diff=shell
build-aux/msys-to-w32 diff=shell
build-aux/update-subdirs diff=shell
lib-src/rcs2log diff=shell
/make-dist diff=shell
