# Built by 'autogen.sh'.
/aclocal.m4
/configure
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/missing
lib/Makefile.in
src/config.in

# Built by 'configure'.
Info.plist
InfoPlist.strings
Makefile
makefile
/*.cache
/config.status
src/config.h
src/epaths.h

# C-level sources built by 'make'.
lib/alloca.h
lib/arg-nonnull.h
lib/byteswap.h
lib/c++defs.h
lib/dirent.h
lib/errno.h
lib/execinfo.h
lib/fcntl.h
lib/getopt.h
lib/inttypes.h
lib/libgnu.a
lib/signal.h
lib/stdalign.h
lib/stdint.h
lib/stdio.h
lib/stdlib.h
lib/string.h
lib/sys/
lib/time.h
lib/unistd.h
lib/warn-on-use.h
src/buildobj.h
src/globals.h

# Lisp-level sources built by 'make'.
*cus-load.el
*loaddefs.el
leim/changed.misc
leim/changed.tit
lisp/cedet/semantic/bovine/c-by.el
lisp/cedet/semantic/bovine/make-by.el
lisp/cedet/semantic/bovine/scm-by.el
lisp/cedet/semantic/wisent/javat-wy.el
lisp/cedet/semantic/wisent/js-wy.el
lisp/cedet/semantic/wisent/python-wy.el
lisp/cedet/srecode/srt-wy.el
lisp/eshell/esh-groups.el
lisp/finder-inf.el
lisp/leim/ja-dic/
lisp/leim/leim-list.el
lisp/leim/quail/4Corner.el
lisp/leim/quail/ARRAY30.el
lisp/leim/quail/CCDOSPY.el
lisp/leim/quail/CTLau.el
lisp/leim/quail/CTLau-b5.el
lisp/leim/quail/ECDICT.el
lisp/leim/quail/ETZY.el
lisp/leim/quail/PY-b5.el
lisp/leim/quail/PY.el
lisp/leim/quail/Punct.el
lisp/leim/quail/Punct-b5.el
lisp/leim/quail/QJ.el
lisp/leim/quail/QJ-b5.el
lisp/leim/quail/SW.el
lisp/leim/quail/TONEPY.el
lisp/leim/quail/ZIRANMA.el
lisp/leim/quail/ZOZY.el
lisp/leim/quail/quick-b5.el
lisp/leim/quail/quick-cns.el
lisp/leim/quail/tsang-b5.el
lisp/leim/quail/tsang-cns.el
lisp/subdirs.el

# Dependencies.
.deps/
deps/

# Logs and temporaries.
*.log
*.tmp

# Time stamps.
stamp_BLD
src/gl-stamp
src/stamp-h.in
src/stamp-h1

# Object files and debugging.
*.a
*.dSYM/
*.elc
*.o
*.res
oo/
oo-spd/
src/*.map

# Executables.
*.exe
a.out
lib-src/blessmail
lib-src/ctags
lib-src/ebrowse
lib-src/emacsclient
lib-src/etags
lib-src/hexl
lib-src/make-docfile
lib-src/movemail
lib-src/profile
lib-src/test-distrib
lib-src/update-game-score
nextstep/Emacs.app/
src/bootstrap-emacs
src/emacs
src/emacs-[0-9]*
src/temacs

# Character-set info.
admin/charsets/*.el
admin/charsets/*.map
admin/unidata/unidata.txt
lisp/international/charprop.el
lisp/international/uni-*.el

# Documentation.
*.aux
*.cm
*.cms
*.cp
*.cps
*.dvi
*.fn
*.fns
*.html
*.info
*.ky
*.kys
*.op
*.ops
*.pdf
*.pg
*.pgs
*.pj
*.pjs
*.ps
*.sc
*.scs
*.tg
*.tgs
*.toc
*.tp
*.tps
*.vr
*.vrs
!doc/lispintro/cons-*.pdf
!doc/lispintro/drawers.pdf
!doc/lispintro/lambda-*.pdf
doc/misc/cc-mode.ss
etc/DOC
!etc/refcards/gnus-logo.pdf
info/dir

# Backup files and locks.
*~
.#*

# Git output.
[0-9]*.patch

# Distribution directories.
/emacs-[1-9]*/
