# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end
*.xdelta
.DS_Store
.arch-inventory
Makefile
autom4te.cache
bin
boot.log
boot.log.diff
boot.log.old
config.cache
config.log
config.status
configure
data
emacs*.tar.gz
leim*.tar.gz
site-lisp
update.log
