## Generated grammar files.
semantic/bovine/c-by.el
semantic/bovine/make-by.el
semantic/bovine/scm-by.el
semantic/wisent/javat-wy.el
semantic/wisent/js-wy.el
semantic/wisent/python-wy.el
srecode/srt-wy.el
