emacs
emacs-[1-9]*
emacs-mime
ccmode
ccmode-[1-9]*
cl
cl-[1-9]*
dired-x
ediff
ediff-[1-9]*
eshell
forms
gnus
gnus-[1-9]*
info
message
mh-e
mh-e-[1-9]*
reftex
reftex-[1-9]*
sc
sc-[1-9]*
vip
vip-[1-9]*
viper
viper-[1-9]*
widget
ada-mode
eudc
autotype
efaq
efaq-[1-9]*
idlwave
idlwave-[1-9]*
ebrowse
pcl-cvs
woman
woman-[1-9]*
speedbar
elisp
elisp-[1-9]*
calc
calc-[1-9]*
eintr
eintr-[1-9]*
tramp
tramp-[1-9]*
ses
smtpmail
