// Comment!

nav {
    ul {
        margin: 0;              /* More comment */
        padding: 0;
        list-style: none;
    }

    li { display: inline-block; }

    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
    }
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
}

nav a var
{
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}

$name: foo;
$attr: border;
p.#{$name} var
{
    x#{$attr}-color: blue;
}
article[role="main"] {
    $toto: 500 !global;
    float: left;
    width: 600px / 888px * 100%;
    height: 100px / 888px * 100%;
}

@import 'reset';

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

.box { @include border-radius(10px); }
