/* asdfasdf */

.xxx
{
}

article[role="main"] {
    width: 60%;
}

a, b:hover, c {
    color: black !important;
}

a, b:hover {                    /* bug:20282 */
    c {
        color: black;
    }
    color: black;
}

a.b:c,d.e:f,g[h]:i,j[k]:l,.m.n:o,.p.q:r,.s[t]:u,.v[w]:x { /* bug:20282 */
    background-color: white;
}

/* asdfasdf */
@foo x2 {
    bla:toto;
}
.x2
{
    /* foo: bar; */ foo2: bar2;
    bar1: url("http://toto/titi");
    bar2: url('http://toto/titi');
    bar3: url(http://toto/titi);
}

div.x3
{
}

article:hover
{
    color: black;
}
