/* asdfasdf */

.xxx
{
}

article[role="main"] {
    width: 60%;
}

a, b:hover, c {
    color: black;
}

a, b:hover {                    /* bug:20282 */
    c {
        color: black;
    }
    color: black;
}

a.b:c,d.e:f,g[h]:i,j[k]:l,.m.n:o,.p.q:r,.s[t]:u,.v[w]:x { /* bug:20282 */
    background-color: white;
}

/* asdfasdf */
@foo x2 {
    bla:toto;
}
.x2
{
    foo: bar;
    bar: baz;
}

div.x3
{
}
