*-spd
*.core
*.pdb
.gdb_history
Makefile
makefile
Makefile.c
TAGS-LISP
_gdbinit
bootstrap-emacs
config.h
config.stamp
emacs
emacs-*
epaths.h
gdb.ini
obj
prefix-args
stamp-oldxmenu
temacs
buildobj.lst
