<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>All</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Emacs</string>
	<key>CFBundleIconFile</key>
	<string>Emacs.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.gnu.Emacs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>EMAx</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict/>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Emacs/Open Selected File</string>
			</dict>
			<key>NSMessage</key>
			<string>open-file</string>
			<key>NSPortName</key>
			<string>Emacs</string>
			<key>NSReturnTypes</key>
			<array/>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict/>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Emacs/New Buffer Containing Selection</string>
			</dict>
			<key>NSMessage</key>
			<string>open-selection</string>
			<key>NSPortName</key>
			<string>Emacs</string>
			<key>NSReturnTypes</key>
			<array/>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict/>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Emacs/Send Selection</string>
			</dict>
			<key>NSMessage</key>
			<string>mail-selection</string>
			<key>NSPortName</key>
			<string>Emacs</string>
			<key>NSReturnTypes</key>
			<array/>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict/>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Emacs/Send To</string>
			</dict>
			<key>NSMessage</key>
			<string>mail-to</string>
			<key>NSPortName</key>
			<string>Emacs</string>
			<key>NSReturnTypes</key>
			<array/>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
