name: Linux standard build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: setup Rust version
      run: rustup toolchain install $(cat rust-toolchain)
    - name: autogen
      run: ./autogen.sh
    - name: configure
      run: ./configure
    - name: make
      run: make -j 3
    - name: make check
      run: make check
